@import "../../css/variables.scss";

// ------ Footer Start ------
footer {
    padding-block: 80px 150px;
    background-color: $color2;

    h3 {
        font-family: $times;
        font-weight: 700;
        font-size: 30px;
        color: $white1;
    }


    ul {
        margin-top: 20px;

        li {
            margin-bottom: 10px;

            a {
                font-family: $avenir;
                font-weight: 600;
                font-size: 18px;
                color: $white1;
            }
        }
    }

    .col-lg-2 {
        width: 20%;
    }
}

// ------ Footer End ------


// ------ Developed Start ------
.developed {
    padding: 0 0 80px 60px;
    background-color: $color3;

    .social {
        position: relative;
        top: -80px;

        h3 {
            font-family: $times;
            font-weight: 700;
            font-size: 30px;
            color: $white1;
        }
    }

    p {
        font-family: $avenir;
        font-weight: 600;
        font-size: 22px;
        color: $white1;
    }
}

// ------ Developed End ------