.chart {
    margin: 10px 50px;
}

.mutli-chart {
    /* border: 1px solid black; */
    /* padding: 10px; */
    margin: 30px 0 0 0;
}

.title p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
}

.mutli-chart .row .col-lg-6:first-child {
    border-right: 1px solid black;
}

.mutli-chart .row .col-lg-6 .end {
    display: flex;
    justify-content: end;
}



/* --------------------- */

.gallery-container a img{
    margin: 10px;
}





.dark-mode .mutli-chart .row .col-lg-6:first-child {
    border-right-color: #fff;
}