#root {
    /* max-width: 1399px; */
    /* margin: auto; */
    /* padding: 2rem;/ */
    /* text-align: center; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* Default (light mode) styles */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.4s, color 0.4s;
}

/* Dark mode styles */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.dark-mode input,
.dark-mode .form-select {
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .form-control:disabled,
.dark-mode .form-control[readonly] {
    background-color: #1e1e1e;
}

.dark-mode h5,
.dark-mode .text-cart,
.dark-mode label,
.dark-mode input::placeholder,
.dark-mode .form-select::placeholder {
    color: #ffffff;
}

.dark-mode .h-custom {
    background-color: #000000;
}


.dark-mode table {
    --bs-table-bg: #000;
    --bs-table-color: #fff;
    border-color: rgba(255, 254, 254, 0.55);


    &:not(.table-dark) th {
        color: #fff !important;
    }

    .checkbox {
        background-color: #000 !important;
        border-color: #fff !important;

        &:checked {
            background-color: #000 !important;
            border-color: #fff !important;
        }
    }

    .table-group {
        button {
            color: #fff !important;
        }
    }
}



.form .card form .card-body .btn{
    transition: opacity 0.3s ease;
}

.form .card form .card-body .btn:disabled {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}
.btn:disabled {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}