@import "../../css/variables.scss";

// ------ Product-Detail Start ------
.product_detail {
    margin-top: 80px;

    .product_images_area {
        margin-right: 30px;

        .main_image {
            overflow: hidden;
            border-radius: 16px;
            width: 650px;
            height: 650px;
            max-width: 100%;
            max-height: 100%;

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .thumbnail_images {
            margin-top: 30px;
            position: relative;

            .thumbnail-container {
                display: flex;
                gap: 15px;
                max-width: 100%;
                overflow-x: scroll;
                scroll-behavior: smooth;
                width: calc(160px * 3 + 15px * 2);

                .thumbnail {
                    overflow: hidden;
                    border-radius: 10px;
                    cursor: pointer;

                    width: 160px;
                    height: 160px;
                    max-width: 100%;
                    max-height: 100%;
                    flex-shrink: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .thumbnail-prev,
            .thumbnail-next {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-color: $color8;
                border-radius: 50%;
                border: 1px solid $color8;
                transition: all 0.5s ease;

                img {
                    // filter: brightness(0) invert(1);
                }

                &:hover {
                    background-color: $color9;
                    border: 1.5px solid $color9;

                    img {
                        filter: brightness(0) invert(0);
                    }
                }
            }

            .thumbnail-next {
                transform: rotate(180deg);
            }
        }
    }

    .product_detail_area {

        .name,
        .price {
            font-family: $times;
            font-weight: 700;
            color: $black;
        }

        .name {
            font-size: 30px;
        }

        .price {
            font-size: 42px;
            margin-top: 5px;
        }

        .like {
            button {
                background: none;
                border: none;
            }
        }

        p {
            font-family: $avenir;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $color5;
            margin-block: 16px;

            a {
                color: $color5;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            span {
                color: $black;
            }
        }

        .size {
            .form-control {
                width: 100%;
                max-width: 140px;
                height: 100%;
                background-color: $input-bg;
                font-family: $avenir;
                border: 1px solid $color1;
                border-radius: 6px;
                font-weight: 400;
                font-size: 18px;
                color: $color5;
                padding: 10px 16px;
            }

            button {
                background: none;
                border: none;
                font-family: $avenir;
                font-weight: 600;
                font-size: 20px;
                color: $color5;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .buttons {
            margin-block: 40px;

            .main_btn {
                height: fit-content;
                padding-block: 16px;

                &.add_to_cart {
                    background-color: $color7;
                    color: $theme-toggle-border;
                    outline: 1px solid $main-btn-color;
                }
            }
        }

        .feature {
            .name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0;

                span {
                    font-family: $avenir;
                    font-weight: 600;
                    font-size: 20px;
                    color: $black;
                    margin-bottom: 0;
                }
            }

            .line {
                background-color: $color4;
                width: 1px;
                height: -webkit-fill-available;
            }
        }

        .lines {
            margin-block: 40px;
        }
    }
}

// ------ Product-Detail End ------



// ------ Product-Detail-Tabs Start ------
.product_detail_tabs {
    margin-block: 80px;

    .react-tabs {
        .react-tabs__tab-list {
            display: flex;
            gap: 40px;
            border-bottom: 1px solid $color4;
            margin-bottom: 40px;

            .react-tabs__tab {
                font-family: $times;
                font-weight: 700;
                font-size: 20px;
                color: $black;
                cursor: pointer;

                padding-bottom: 12px;

                &.react-tabs__tab--selected {
                    border-bottom: 1px solid $black;
                    // border-width: ;
                }
            }
        }

        .react-tabs__tab-panel {
            .product_description {

                p,
                h4 {
                    font-family: $avenir;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 20px;
                }

                p {
                    color: $color5;
                }

                h4 {
                    color: $black;
                }

                ul {
                    padding-left: 20px;

                    li {
                        list-style: disc;

                        &::marker {
                            color: $color5;
                        }
                    }
                }
            }

            .product_material_details {
                ul {
                    border: 1px solid $color10;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        border-bottom: 1px solid $color10;
                        padding: 14px 40px;

                        .name,
                        .value {
                            font-family: $avenir;
                            font-weight: 600;
                            font-size: 20px;
                            color: $black;
                        }

                        .name {}

                        .value {}
                    }
                }
            }
        }
    }
}

// ------ Product-Detail-Tabs End ------



[data-theme="dark"] {

    .thumbnail-prev,
    .thumbnail-next {
        &:hover {
            img {
                filter: brightness(0) invert(1) !important;
            }
        }
    }
}